* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    height: auto;
    max-width: 1240px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px 0;
}

.card {
    border: 1px solid #dcdcdc;
    box-shadow: 2px 2px 3px 3px #dcdcdc;
}

.card__content {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card__title {
    font-weight: bold;
}

.card__email {
    color: gray;
}

.card__number {
    text-align: right;
    margin-top: 50px;
}

.card__link {
    text-align: right;
}

@media screen and (min-width: 768px) {
    .container {
      grid-template-columns: 1fr 1fr;
    }
  
    .card {
      grid-column: 3fr;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .card {
      grid-column: 3fr;
    }
  }